@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Roboto+Slab&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    background-color: rgba(255, 249, 244, 1);
    ;
}
.banner-text{
    font-family:'Poppins';
    font-size: 70px;
    font-weight: 800;
    text-transform: uppercase;
}
.first-text{
    color: rgba(250, 128, 76, 1);
}
.product-container img{
    width: 311px;
    height: 311px;
    background-color:rgba(0, 0, 0, 0.15);
}